.autocomplete {
  position: relative;
}

.autocomplete-list {
  position: absolute;
  z-index: 2;
  overflow: auto;
  min-width: 250px;
  max-height: 150px;
  margin: 0;
  margin-top: 5px;
  padding: 0;
  border: 1px solid var(--grey);
  list-style: none;
  border-radius: 4px;
  background-color: var(--white);
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.05);
}

.autocomplete-list li {
  margin: 0;
  padding: 0.5rem 0.9rem;
  border-bottom: 1px solid var(--lightgrey);
}

.autocomplete-list li:last-child {
  border-bottom: 0;
}

.autocomplete-list li:hover,
.autocomplete-list li.active {
  background-color: #f5f5f5;
}
