/* Cards */
.card {
  background-color: white;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.13);
}

.card__title {
  font-size: 24px;
  font-weight: 600;
  padding: 1rem 0 0 1rem;
}

.card__subtitle {
  padding-left: 1rem;
  padding-bottom: 0.5rem;
  font-size: 12px;
  color: var(--dark-grey);
}

.card__title p,
.card__subtitle p {
  margin: 0;
}

.card__content {
  padding: 0 1rem;
}

.card--sm {
  width: 25%;
}

.card--md {
  width: 50%;
}

.card--lg {
  width: 75%;
}

.card--full {
  width: 100%;
}

.preview {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  box-shadow: 0 3px 7px -1px rgba(0, 0, 0, 0.1);
  margin-bottom: 1.6%;
  background: white;
  line-height: 1.4;
  border-radius: 5px;
  overflow: hidden;
  z-index: 0;
}

.preview a {
  color: inherit;
}

.preview a:hover {
  color: var(--peach);
}

.preview:hover .photo {
  transform: scale(1.3) rotate(3deg);
}

.preview .meta {
  position: relative;
  z-index: 0;
}

.preview .photo {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  transition: transform .2s;
}

.preview .details,
.preview .details ul {
  margin: auto;
  padding: 0;
  list-style: none;
}

.preview .details {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -100%;
  margin: auto;
  transition: left .2s;
  background: rgba(0, 0, 0, 0.6);
  color: var(--white);
  padding: 10px;
  width: 100%;
  font-size: .9rem;
}

.preview .details a {
  text-decoration: dotted underline;
}

.preview .details ul li {
  display: inline-block;
}

.preview .details .author:before {
  font-family: IcoFont;
  margin-right: 10px;
  content: "\e9c2";
}

.preview .details .date:before {
  font-family: IcoFont;
  margin-right: 10px;
  content: "\eecd";
}

.preview .details .tags ul:before {
  font-family: IcoFont;
  content: "\f005";
  margin-right: 10px;
}

.preview .details .tags li {
  margin-right: 2px;
}

.preview .details .tags li:first-child {
  margin-left: -4px;
}

.preview .description {
  padding: 1rem;
  background: var(--white);
  position: relative;
  z-index: 1;
}

.preview .description h1,
.preview .description h2 {
  font-family: Poppins, sans-serif;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 18rem;
}

.preview .description h1 {
  line-height: 1;
  margin: 0;
  font-size: 26px;
}

.preview .description h2 {
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  color: var(--dark-grey);
  margin-top: 5px;
}

.preview .description .read-more {
  text-align: right;
}

.preview .description .read-more a {
  color: var(--peach);
  display: inline-block;
  position: relative;
}

.preview .description .read-more a:after {
  content: "\ef8c";
  font-family: IcoFont;
  margin-left: -10px;
  opacity: 0;
  vertical-align: middle;
  transition: margin .3s, opacity .3s;
}

.preview .description .read-more a:hover:after {
  margin-left: 5px;
  opacity: 1;
}

.preview p {
  position: relative;
  margin: 1rem 0 0;
  text-overflow: ellipsis;
}

.preview p:first-of-type {
  margin-top: 1.25rem;
}

.preview p:first-of-type:before {
  content: "";
  position: absolute;
  height: 5px;
  background: var(--peach);
  width: 35px;
  top: -0.75rem;
  border-radius: 3px;
}

.preview:hover .details {
  left: 0%;
}

/* Account Card */
.account {
  grid-area: aside;
  display: grid;
  grid-template-areas: 'basic' 'other' 'other2';
}

.account__username {
  text-align: center;
  font-size: 20px;
}

.account__details {
  font-size: 14px;
}

.account__details a {
  text-decoration: none;
}

/* Media Tags */
@media (min-width: 640px) {
  .preview {
    flex-direction: row;
    max-width: 100%;
  }

  .preview .meta {
    flex-basis: 40%;
    height: auto;
  }

  .preview .description {
    flex-basis: 60%;
  }

  .preview .description:before {
    transform: skewX(-3deg);
    content: "";
    background: #fff;
    width: 30px;
    position: absolute;
    left: -10px;
    top: 0;
    bottom: 0;
    z-index: -1;
  }

  .preview.alt {
    flex-direction: row-reverse;
  }

  .preview.alt .description:before {
    left: inherit;
    right: -10px;
    transform: skew(3deg);
  }

  .preview.alt .details {
    padding-left: 25px;
  }
}

@media only screen and (max-width: 768px) {
  .details {
    display: none;
  }
}
