/* Control */
.control {
  padding: 0.2rem 0.6rem;
  margin: 0;
  font-size: 14px;
  background-color: var(--white);
  border: 1px solid var(--grey);
  border-radius: 6px;
  transition: all 0.2s;
}

.control:hover {
  border-color: var(--peach);
}

.control:focus {
  border-color: var(--peach);
  box-shadow: 0 0 0 2px hsla(206, 100%, 51%, 0.1);
  outline: 0;
}

label p {
  margin: 0 0 0.4rem 0;
}
/* End Control */

/* Tags */
ul.tags {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 8px 0 0 0;
}

.tag {
  width: auto;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  padding: 0 0.5rem;
  font-size: 14px;
  list-style: none;
  border-radius: 6px;
  margin: 0 0.5rem 0.5rem 0;
  background: var(--peach);
}

.tag .tag__close {
  display: flex;
  width: 1rem;
  height: 1rem;
  line-height: 0.8rem;
  text-align: center;
  font-size: 14px;
  margin-left: 0.5rem;
  color: var(--peach);
  border-radius: 50%;
  background: var(--white);
  cursor: pointer;
  border: none;
  align-content: center;
}
/* End Tags */


@media screen and (max-width: 567px) {
  .tags-input {
    width: calc(100vw - 32px);
  }
}
