:root {
  --white: hsl(0, 0%, 100%);
  --jet: hsl(120, 1%, 17%);
  --latte: hsl(49, 60%, 93%);
  --nickle: hsl(44, 5%, 59%);
  --lightgrey: hsl(60, 3%, 93%);
  --shadow: hsla(0, 0%, 0%, 0.13);
  --btn-shadow: hsla(0, 0%, 0%, 0.02);
  --peach-shadow: hsla(5, 100%, 76%, 0.1);
  --peach: hsl(5, 100%, 76%);
  --peach-lighten: hsl(5, 100%, 90%);
  --teal: hsl(168, 69%, 84%);
  --grey: hsl(0, 0%, 89%);
  --dark-grey: hsl(0, 0%, 64%);
}

/* Main */
html,
body {
  height: 100%;
  margin: 0;
}

.container {
  display: grid;
  grid-template-areas: 'header'
    'main'
    'footer';
  grid-template-rows: 0fr 1fr 0fr;
  height: 100vh;
  color: var(--jet);
  background-color: var(--lightgrey);
  font-family: 'Manrope', sans-serif;
}

header {
  grid-area: header;
}

footer {
  grid-area: footer;
  justify-self: center;
  align-self: flex-end;
}

main {
  grid-area: main;
  padding: 2rem;
}

.home {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
}

.blueprints {
  display: grid;
  grid-template-areas: 'aside news'
                       'previews previews'
                       'pagination pagination';
  column-gap: 1rem;
  grid-template-columns: 20% 80%;
}

/* Links */
a.link {
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  color: var(--peach);
  padding: 0.2rem;
  border-radius: 5px;
}

a.link:hover {
  background-color: var(--nickle);
  color: var(--peach-lighten);
}

/* Navbar */
.navbar {
  display: grid;
  background-color: var(--jet);
  grid-template-columns: 1fr 1fr;
}

.navbar a {
  text-decoration: none;
}

.navbar .brand {
  font-size: 24px;
  padding: 1rem;
}

.navbar .brand a {
    color: var(--peach);
}

.navbar__links {
  display: inline-grid;
  grid-template-columns: repeat(5, 20%[col-start]);
  font-size: 20px;
}

.navbar__links a {
  text-align: center;
  padding-top: 1rem;
  color: var(--latte);
  transition: all 0.2s ease-in-out;
}

.navbar__links a:hover {
  background-color: var(--latte);
  color: var(--jet);
}

.navbar__links .router-link-active {
  color: var(--peach);
}

.navbar__links .router-link-active:hover {
  color: var(--jet);
}
