.pagination {
  grid-area: pagination;
  padding: 1.2rem 0;
  justify-self: center;
  user-select: none;
}

.pagination ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination p {
  display: inline;
  padding: 0.3rem;
}

.pagination button:first-of-type {
  margin-right: 0.3rem;
}
